#welcome{
	color: blue;
}
.body {
	margin: 0;
	padding: 0;

}
.para{
	color: red;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 200px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #fff; /* white */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-style: italic; font-variant: normal; 
	font-weight: 300; 
	color: #414141;
	padding-left: 60px;
	letter-spacing: 2px;
	font-size: 20px;
}

.sidenav a {
	padding: 10px 8px 15px 0px;
	text-decoration: none;
	font-size: 15px;
	display: block;
	outline: none;
}

.sidenav a:visited {
	color: #666666;
}

.sidenav a:unvisited {
	color: #666666;
}

.dropdown-btn {
	padding: 10px 8px 15px 0px;
	color: #666666;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 300;
	outline: none;
	background: transparent;
	/*width: 10px;*/
	width: 40px;
	border: transparent;
	letter-spacing: 2px;
	display: flex;
align-items: center;
}
.sidenav a.in {
	font-weight: 300;
}

.sidenav a.out:hover, .dropdown-btn:hover {
	text-decoration: none;
	color: #F98882;
}

.sidenav a.active {
	text-decoration: none;
	color: #0077FF;
}

.sidenav a.visited {
	text-decoration: none;
	color: #0077FF;
}

.sidenav a.in:hover {
	font-weight: 300;
	color: #F98882;
}

.sidenav a.title {
	color: #414141;
	letter-spacing: 2px;
	font-size: 20px;
}

.demo {
 	/*margin-left: 200px;  Same as the width of the sidebar */
 	padding: 0px 10px;
 	margin-top: 150px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  	display: none;
  	padding-left: 12px;
}

.dropdown-container2 {
  	/*display: none;*/
  	padding-left: 12px;
  	display: block;
}

.sidenav .icon {
  display: none;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 768px) {
	.hello
	{
		width: 100%; 
	}

}


